record(mbbi, "$(P):$(R)") {    
    field(DESC, "$(DESC)")
    field(SCAN, "$(SCAN)")
    field(PINI, "$(PINI)")
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT),$(ADDR),$(MASK))$(PARAM)")
	field(NOBT, "$(NOBT)")
	field(ZRVL, "$(ZRVL)")
	field(ONVL, "$(ONVL)")
	field(TWVL, "$(TWVL)")
	field(THVL, "$(THVL)")
	field(FRVL, "$(FRVL)") 
	field(ZRST, "$(ZRST)")
	field(ONST, "$(ONST)")
	field(TWST, "$(TWST)")
	field(THST, "$(THST)")
	field(FRST, "$(FRST)")
}