record(ao,      "$(P):$(R)") {
    field(DESC, "$(DESC)")
    field(SCAN, "$(SCAN)")
    field(OMSL, "closed_loop")
    field(OIF,  "Full")
    field(DOL,  "$(SCALE_PV)")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR))$(PARAM)")
}
